[submodule "src/helpers"]
	path = src/helpers
	url = git@github.com:coblan/helpers.git
[submodule "src/shanghai_grid"]
	path = src/shanghai_grid
	url = git@github.com:coblan/shanghai_grid.git
[submodule "src/static/lib"]
	path = src/static/lib
	url = https://github.com/coblan/lib.git
